base58==2.1.1
beautifulsoup4==4.12.3
git+https://git@github.com/BittyTax/BittyTax.git@features/defitaxes#egg=BittyTax
Flask==3.1.0
Flask-APScheduler==1.13.1
gunicorn==23.0.0
html_to_json==2.0.0
pure25519==0.0.1
python-dotenv==1.0.1
redis==5.2.0
requests==2.32.3
sortedcontainers==2.4.0
Telethon==1.39.0
Werkzeug==3.1.3
